@page "{id:int}"
@model WebApp.Pages.QuizAttempt.DetailsModel
@{
    var accessToken = HttpContext.Session.GetString("accessToken");
    var quizAttempt = Model.QuizAttempt;

    Layout = "_QuizLayout";
}

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" />
</head>

<div class="row p-2 d-flex" style="height: 90vh; overflow: hidden;">
    <div class="col-lg-3 p-2" style="position: sticky; top: 0; height: 90vh; overflow-y: auto;">
        <div class="card">
            <div class="card-body">
                <h4 class="mb-5">@quizAttempt.QuizName</h4>
                <p>Score: @(quizAttempt.TotalScore)/10</p>
                @for (int i = 0; i < quizAttempt.Questions.Count; i++)
                {
                    var question = quizAttempt.Questions[i];
                    <a href="#question@(i + 1)" class="btn @(question.IsCorrect ? "btn-success" : "btn-danger") mb-1" data-id="@(i + 1)"
                       style="width: 80px;">Q@(i + 1)</a>
                }
            </div>
        </div>
    </div>
    <div class="col-lg-9 p-2" style="height: 90vh; overflow-y: auto;">
        <div>
            @for (int i = 0; i < quizAttempt.Questions.Count; i++)
            {
                var question = quizAttempt.Questions[i];
                var correctAnswersCount = question.Answers.Count(a => a.IsCorrect);

                <div class="card mb-4 p-2" id="question@(i + 1)" data-id="@(i + 1)">
                    <div class="card-title">
                        <p><strong>Q@(i + 1):</strong> @question.QuestionContent</p>
                        @if (question.IsCorrect)
                        {
                            <span class="badge rounded-pill text-bg-success">Correct</span>
                        }
                        else
                        {
                            <span class="badge rounded-pill text-bg-danger">Incorrect</span>
                        }
                    </div>
                    <div class="card-body">
                        <div class="row">
                            @for (int j = 0; j < question.Answers.Count; j++)
                            {
                                var option = question.Answers[j];
                                var optionId = $"q{i}_opt{j}";


                                <div class="col-lg-6">
                                    <input type="@(correctAnswersCount > 1 ? "checkbox" : "radio")"
                                           class="btn-check" id="@optionId" autocomplete="off" name="question@(i)" value="@option.Content"
                                    @(option.IsSelected ? "checked" : "")
                                           disabled>
                                    <label style="width: 95%;"
                                           class="btn @(option.IsCorrect ? "btn-outline-success" : (option.IsSelected ? "btn-outline-danger" : "btn-outline-dark")) mr-2 mb-1"
                                           for="@optionId">
                                        @option.Content
                                        @if (option.IsCorrect && !option.IsSelected)
                                        {
                                            <span class="ms-2">
                                                @(option.IsCorrect ? "✔️" : "")
                                            </span>
                                        }
                                    </label>
                                    <br>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
